$header-bgcolor = #EEE;
$body-bgcolor = #FAFAFA;

.v-application {
    min-width: 630px;
    background: $header-bgcolor !important;

    header {
        background: $header-bgcolor !important;
    }

    .v-content {
        .container {
            background: $body-bgcolor;

            header {
                background: $header-bgcolor !important;

                h1 {
                    padding: 16px 48px 8px 48px;
                    color: rgba(black, 0.15);
                    text-transform: uppercase;
                }
            }
        }
    }
}
